<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>countDownAnimation/0.png</key>
		<dict>
			<key>frame</key>
			<string>{{58, 309}, {56, 72}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 4}, {56, 72}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 391}, {38, 75}}</string>
			<key>offset</key>
			<string>{-6, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7, 4}, {38, 75}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 157}, {56, 76}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 3}, {56, 76}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 79}, {57, 76}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {57, 76}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/4.png</key>
		<dict>
			<key>frame</key>
			<string>{{58, 235}, {59, 72}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 4}, {59, 72}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/5.png</key>
		<dict>
			<key>frame</key>
			<string>{{41, 391}, {57, 74}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 4}, {57, 74}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 313}, {55, 76}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {55, 76}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/7.png</key>
		<dict>
			<key>frame</key>
			<string>{{59, 157}, {58, 72}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 4}, {58, 72}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {57, 76}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {57, 76}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 235}, {55, 76}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {55, 76}}</string>
			<key>sourceSize</key>
			<string>{64, 82}</string>
		</dict>
		<key>countDownAnimation/tile1_tile2_01_268_268@4x-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100, 383}, {67, 67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 67}}</string>
			<key>sourceSize</key>
			<string>{67, 67}</string>
		</dict>
		<key>countDownAnimation/tile1_tile2_02_268_268@4x-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{169, 378}, {67, 67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 67}}</string>
			<key>sourceSize</key>
			<string>{67, 67}</string>
		</dict>
		<key>countDownAnimation/tile1_tile2_03_268_268@4x-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{116, 309}, {67, 67}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 67}}</string>
			<key>sourceSize</key>
			<string>{67, 67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>countDownAnimation.png</string>
	</dict>
</dict>
</plist>
